<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="appName" source="spring.application.name"/>
  <springProperty scope="context" name="appVersion" source="spring.application.version"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%green(%X{requestId})] [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</pattern>
    </encoder>
  </appender>


  <root level="info">
    <appender-ref ref="console"/>
  </root>


</configuration>
